<!--begin::Topbar-->
<ng-container *ngIf="extrasUserDisplay">
  <ng-container>
    <ng-container *ngIf="!user2.isLogin">
      <!--begin::User-->
      <div class="topbar-item">
        <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2">
          <span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
            <span class="symbol-label font-size-h5 font-weight-bold" (click)="SignIn()">
              Đăng Nhập
            </span>
          </span>
        </div>
      </div>
      <!--end::User-->
    </ng-container>

    <div *ngIf="user2.isLogin">
      <ng-container *ngIf="userCurrent | async as _user">
        <div class="dropdown" ngbDropdown placement="bottom-right">
          <!--begin::User-->
          <div ngbDropdownToggle class="topbar-item" data-toggle="dropdown" data-offset="0px,0px">
            <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2">
              <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1" >Hi,</span>
              <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3" >{{ _user.fullname }}</span>
              <span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
                <span class="symbol-label-ok font-size-h5 font-weight-bold">{{_user.fullname | firstLetter}}</span>
              </span>
            </div>
          </div>
          
          <div ngbDropdownMenu class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg p-0">
            <div class="d-flex align-items-center justify-content-between flex-wrap p-8 bgi-size-cover bgi-no-repeat rounded-top" style="background-image: url('./assets/media/misc/bg-1.jpg');">
                <div class="d-flex align-items-center mr-2">
                  <!--begin::Symbol-->
                  <div class="symbol bg-white-o-15 mr-3">
                    <span class="symbol-label-ok text-success font-weight-bold font-size-h4">{{ _user.fullname | firstLetter }}</span>
                  </div>
                  <!--end::Symbol-->
          
                  <!--begin::Text-->
                  <div class="text-white m-0 flex-grow-1 mr-3 font-size-h5">
                    {{ _user.fullname }}
                  </div>
                  <!--end::Text-->
                </div>
              </div>
              <!--end::Header-->
                      
            <!--begin::Nav-->
            <div class="navi navi-spacer-x-0 pt-5">
                <!--begin::Item-->
                <a class="navi-item px-8 cursor-pointer" (click)="history()">
                  <div class="navi-link">
                    <div class="navi-icon mr-2">
                      <i class="flaticon2-calendar-3 text-success"></i>
                    </div>
                    <div class="navi-text">
                      <div class="font-weight-bold">
                        Lịch sử đặt hàng
                      </div>
                      <div class="text-muted">
                        Quản lý các đơn hàng bạn đã đặt
                      </div>
                    </div>
                  </div>
                </a>
                <!--end:Item-->
              <!--begin::Footer-->
              <div class="navi-separator mt-3"></div>
              <div class="navi-footer px-8 py-5">
                <a class="btn btn-light-primary font-weight-bold cursor-pointer"
                  (click)="logout()">Đăng xuất</a >
              </div>
              <!--end::Footer-->
            </div>
            <!--end::Nav-->
          </div>
          <!--end::User-->
        </div>
      </ng-container>
    </div>
  </ng-container>

</ng-container>

<!--end::Topbar-->
