<div class="card card-custom card-stretch gutter-b">
  <div class="card-body pt-2">
    <a class="product-item" data-view-index="0" data-view-id="product_list_item" href="https://tiki.vn/dien-thoai-vsmart-star-4-4gb-64gb-hang-chinh-hang-tiki-doc-quyen-p59043375.html?spid=59503241">
      <span class="style__StyledItem-sc-18svp8n-0 bHrHjw">
        <div>
          <div class="thumbnail">
            <div class="badge-top">
            </div>
            <img src="https://salt.tikicdn.com/cache/200x200/ts/product/9e/90/ac/7daa29266a98ae64a149e93cfa7537d6.jpg" alt="Điện thoại Vsmart Star 4 (4GB/64GB) - Hàng chính hãng">
          </div>
          <div class="info">
            <div class="badge-service">
              <div class="item">
                <div>
                  <img width="56" height="16" src="https://salt.tikicdn.com/ts/upload/9f/32/dd/8a8d39d4453399569dfb3e80fe01de75.png">
                </div>
                <span style="color: rgb(0, 153, 0);">GIAO NGAY 2H - 3H
                </span>
              </div>
            </div>
            <div class="name">
              <span>Điện thoại Vsmart Star 4 (4GB/64GB) - Hàng chính hãng</span>
            </div>
            <div class="rating-review">
              <div class="rating">
                <div class="rating__total">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(199, 199, 199);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(199, 199, 199);">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                      </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(199, 199, 199);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(199, 199, 199);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(199, 199, 199);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                </div>
                <div class="rating__average" style="width: 90%;">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                      
                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                      </path>
                    </svg>
                </div>
              </div>
              <div class="review">(490)
              </div>
            </div>
            <div class="price-discount">
              <div class="price-discount__price">2.090.000 ₫

              </div>
              <div class="price-discount__discount">-22%

              </div>
            </div>
            <div class="badge-benefits">

            </div>
            <div class="badge-additional-info">

            </div>
          </div>
        </div>
      </span>
    </a>
  </div>
</div>
