.edAZXd {
    flex: 1 1 0%;
}
.glOjBk .heading {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 19px;
    line-height: 21px;
    font-weight: 500;
    margin: 0px 0px 15px;
    color: blue;
}
.glOjBk .inner {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1px;
    min-height: 400px;
}
.glOjBk table thead tr {
    background-color: #c9f7f5;
}
.glOjBk table {
    border-collapse: collapse;
    width: 100%;
    word-break: break-word;
}
.glOjBk tr {
    border-bottom: 1px solid rgb(244, 244, 244);
}
.glOjBk th, .glOjBk td {
    min-width: 130px;
    padding: 15px 15px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}
.glOjBk td {
    font-size: 13px;
    line-height: 20px;
    color: rgb(51, 51, 51);
}
span.link-hd {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}