<div class="row">
  <div class="col-lg-4 col-xxl-3 order-1 order-xxl-2">
    <app-items></app-items>
  </div>
  <div class="col-lg-4 col-xxl-3 order-1 order-xxl-2">
    <app-items></app-items>
  </div>
  <div class="col-lg-4 col-xxl-3 order-1 order-xxl-2">
    <app-items></app-items>
  </div>
  <div class="col-lg-4 col-xxl-3 order-1 order-xxl-2">
    <app-items></app-items>
  </div>
  <div class="col-lg-4 col-xxl-3 order-1 order-xxl-2">
    <app-items></app-items>
  </div>
  <div class="col-lg-4 col-xxl-3 order-1 order-xxl-2">
    <app-items></app-items>
  </div>
  <div class="col-lg-4 col-xxl-3 order-1 order-xxl-2">
    <app-items></app-items>
  </div>
  <div class="col-lg-4 col-xxl-3 order-1 order-xxl-2">
    <app-items></app-items>
  </div>
</div>