.product-item{
    text-decoration: none;
    display: flex;
    position: relative;
    border: 1px solid transparent;
    cursor: pointer;
}
.product-item:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    z-index: 1;
}
.card{
    border: none !important;
}
.bHrHjw{
    display: flex;
    padding: 12px 16px;
    color: rgb(36, 36, 36);
    text-decoration: none;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.bHrHjw .thumbnail {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    margin: 0px 12px;
    text-align: center;
}
.bHrHjw .badge-top {
    position: absolute;
    z-index: 2;
}
.bHrHjw .badge-service {
    margin-bottom: 8px;
    margin-top: 12px;
}
.bHrHjw .badge-service .item {
    display: flex;
    flex-direction: column;
}
.bHrHjw .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.bHrHjw .rating-review {
    display: flex;
}
.bHrHjw .rating {
    position: relative;
    margin: 0px 4px 0px 0px;
}
.bHrHjw .rating__average {
    white-space: nowrap;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.bHrHjw .review {
    font-size: 11px;
    line-height: 16px;
    color: rgb(120, 120, 120);
}
.bHrHjw .price-discount {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.bHrHjw .price-discount__price {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    margin: 0px 8px 0px 0px;
}
.bHrHjw .price-discount__discount {
    font-size: 13px;
    line-height: 20px;
}


//detail
.jFkAwY {
    width: 1225px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.llsmxc {
    display: flex;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 4px 4px;
}
.cSuyir {
    padding: 16px 0px 16px 16px;
    position: relative;
}
.cSuyir .group-images {
    display: flex;
    flex-direction: column;
    position: relative;
}

.cSuyir .group-images .thumbnail {
    text-align: center;
}

.bhKhSH {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 444px;
    height: 444px;
}

.bhKhSH .container {
    position: relative;
    display: flex;
    width: 444px;
    height: 444px;
}

.giarZk {
    margin: 0px 12px;
    width: 1px;
    background: rgb(242, 242, 242);
    flex-shrink: 0;
}

.hPysQm {
    flex: 1 1 0%;
    padding-top: 15px;
}
.hPysQm .header {
    padding: 16px 24px 16px 0px;
    position: relative;
    display: contents;
}
.hPysQm .header .title {
    margin: 0px 0px 4px;
    color: rgb(36, 36, 36);
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
}
.hPysQm .icon-inline-with-title {
    margin: 0px 8px 0px 0px;
    display: inline-block;
}
.iZkBwo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 4px;
}
.iZkBwo .number {
    cursor: pointer;
    margin: 0px 0px 0px 5px;
    color: rgb(120, 120, 120);
    font-size: 13px;
    line-height: 20px;
}
.hPysQm .body {
    padding: 0px 24px 0px 0px;
}
.hPysQm .body .summary {
    display: flex;
}
.hPysQm .body .summary .left {
    flex: 1 1 0%;
    padding-right: 12px;
}
.hPysQm .body .summary .left .price-and-icon {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
    padding: 12px 16px;
}
.hJdJUx .product-price__current-price {
    font-size: 32px;
    line-height: 40px;
    margin-right: 8px;
    font-weight: 500;
}
.hJdJUx .product-price__list-price {
    margin-right: 10px;
    text-decoration: line-through;
    font-size: 13px;
    line-height: 20px;
}
.hJdJUx .product-price__discount-rate {
    font-size: 13px;
    line-height: 20px;
}
.fZaWsF {
    display: flex;
    flex-direction: column;
    margin: 16px 0px 0px;
    padding: 16px 0px;
    border-top: 1px solid rgb(242, 242, 242);
}
.hPysQm .qty-and-message {
    display: flex;
    align-items: flex-end;
}
.iyaBQp .label {
    font-size: 15px;
    line-height: 1.6;
    width: auto;
    height: auto;
    background-color: unset;
}
.iyaBQp .group-input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
}

.fZaWsF .group-button {
    margin-top: 16px;
    flex: 1 1 0%;
    display: flex;
}
.hPysQm .add-to-cart .btn.btn-add-to-cart {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 57, 69);
}
.hPysQm .add-to-cart .btn {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 190px;
    width: 100%;
    max-width: 300px;
    height: 48px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    border-radius: 4px;
    outline: none;
}

.hPysQm .rating-review {
    display: flex;
}
.hPysQm .rating {
    position: relative;
    margin: 0px 4px 0px 0px;
}
.hPysQm .rating__average {
    white-space: nowrap;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.hPysQm .review {
    font-size: 11px;
    line-height: 16px;
    color: rgb(120, 120, 120);
}


//Khách hàng
.lfvNLc {
    width: 922px;
    word-break: break-word;
    opacity: 1;
    color: rgb(36, 36, 36);
}
.lfvNLc .customer-reviews__heading {
    font-size: 18px;
    line-height: 24px;
    margin: 0px 0px 10px;
}
.lfvNLc .customer-reviews__inner {
    background-color: rgb(255, 255, 255);
    padding: 0px 40px 24px;
    border-radius: 4px;
}
.dDtAUu {
    padding: 32px 0px 0px;
}
.dDtAUu .review-comment__avatar {
    display: flex;
    margin: 0px 0px 12px;
}
.dDtAUu .review-comment__avatar-thumb {
    margin: 0px 8px 0px 0px;
    width: 48px;
    height: 48px;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.dDtAUu .review-comment__avatar-info {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.dDtAUu .review-comment__avatar-wrap {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.dDtAUu .review-comment__avatar-name {
    margin: 0px 8px 0px 0px;
}
.dDtAUu .review-comment__avatar-date {
    color: rgb(153, 153, 153);
    flex-shrink: 0;
}
.dDtAUu .review-comment__title {
    display: block;
    margin: 8px 0px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(36, 36, 36);
}
.jucQbJ {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.jucQbJ > div {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.lfvNLc .customer-reviews__pagination > ul {
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 24px 0px 0px;
}
.kiFxlu {
    display: flex;
    margin: 0px;
    list-style: none;
}
.kiFxlu li {
    margin-left: 8px;
}
.kiFxlu .btn.active {
    cursor: default;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 158, 255);
}
.kiFxlu .btn {
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 28px;
    height: 28px;
    color: rgb(51, 51, 51);
    font-weight: 500;
    background-color: rgb(247, 247, 247);
    border-radius: 14px;
}
.kiFxlu .btn.prev, .kiFxlu .btn.next {
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(198, 198, 198);
}

//Start
button{
    height: 20px;
    width: 25px;
    line-height: 20px;
}