<div class="Container-itwfbd-0 jFkAwY">
	<div itemscope="" itemtype="https://schema.org/Product" class="indexstyle__Wrapper-qd1z2k-0 llsmxc">
		<meta itemprop="url" content="https://tiki.vn/dien-thoai-vsmart-star-4-4gb-64gb-hang-chinh-hang-tiki-doc-quyen-p59043375.html">
    <meta itemprop="image" content="https://salt.tikicdn.com/cache/w444/ts/product/c4/bc/cc/21e30a265d74c43a2f01b1dac081a37d.jpg">
    <div class="indexstyle__ProductImages-qd1z2k-2 cSuyir">
      <div class="group-images">
        <div class="thumbnail" data-view-id="pdp_main_view_gallery">
          <div class="ImageLens__Wrapper-uaw433-0 bhKhSH">
            <div class="container">
              <img [src]="data.LinkImage" [alt]="data.Name" style="width: 444px; height: 444px;">
            </div>
          </div>
        </div>
        <div class="image-badges">

        </div>
      </div>
    </div>
    <div class="indexstyle__StyledSeperate-qd1z2k-1 giarZk"></div>
    <div class="indexstyle__ProductContent-qd1z2k-3 hPysQm">
      <div class="header">
        <h1 class="title" itemprop="name">
          {{data.Name}}
        </h1>
        <div class="indexstyle__Review-qd1z2k-4 iZkBwo">
            <div class="rating-review">
              <div class="rating">
                <div class="rating__total">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(199, 199, 199);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(199, 199, 199);">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                      </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(199, 199, 199);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(199, 199, 199);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(199, 199, 199);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                </div>
                <div class="rating__average" [ngStyle]="getWidth()">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                      
                    </path>
                  </svg>
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">

                      </path>
                    </svg>
                </div>
              </div>
              <div class="review">({{data.RateNumber}})
              </div>
            </div>
        </div>
      </div>
      <div class="body">
        <div class="summary">
          <div class="left" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
            <div class="price-and-icon ">
              <div class="style__StyledProductPrice-sc-15mbtqi-0 hJdJUx">
                <div class="product-price">
                  <span class="product-price__current-price">{{f_currency(data.Money)}} ₫</span>
                  <span class="product-price__list-price">{{f_currency(getPrice())}} ₫</span>
                  <span class="product-price__discount-rate">-{{data.Sales}}%</span>
                </div>
              </div>
            </div>
            <div class="indexstyle__AddToCart-qd1z2k-7 fZaWsF add-to-cart">
              <div class="qty-and-message">
                <div class="QualityInput__Wrapper-sc-15mlmyf-0 iyaBQp">
                  <p class="label">Số Lượng</p>
                  <div class="group-input">
                    <input matInput autocomplete="off" type="number" class="input" [(ngModel)]="value" value="" min="0" (change)="reset()"  >
                  </div>
                </div>
              </div>
              <div class="group-button">
                <button class="btn btn-add-to-cart" (click)="Orders()" data-view-id="pdp_add_to_cart_button">Đặt hàng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Container-itwfbd-0 jFkAwY">
	<div class="style__StyledCustomerReviews-sc-103p4dk-0 lfvNLc customer-reviews">
		<div class="customer-reviews__heading">KHÁCH HÀNG NHẬN XÉT</div>
		<div class="customer-reviews__inner">
			<div></div>
			<div *ngFor="let item of data.UserReview; let i = index"  class="style__StyledComment-sc-103p4dk-5 dDtAUu review-comment">
				<div class="review-comment__avatar">
					<div class="review-comment__avatar-thumb" style="background-image: url('./assets/media/users/avatar.png');">

					</div>
					<div class="review-comment__avatar-info">
						<div class="review-comment__avatar-wrap">
							<span class="review-comment__avatar-name">{{item.AccountName}}</span>
						</div>
						<div class="review-comment__avatar-date-options">
							<div class="review-comment__avatar-date">{{getFormatDate(item.Time)}}</div>
						</div>
					</div>
				</div>
				<div class="Stars__StyledStars-sc-15olgyg-0 jucQbJ">
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
							<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5" d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"/>
						</svg>
					</span>
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
							<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5" d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"/>
						</svg>
					</span>
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
							<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5" d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"/>
						</svg>
					</span>
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
							<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5" d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"/>
						</svg>
					</span>
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
							<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5" d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"/>
						</svg>
					</span>
					<div [ngStyle]="getWidthUser(i)">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
								<path fill="#FDD835" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5" d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"/>
							</svg>
						</span>
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
								<path fill="#FDD835" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5" d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"/>
							</svg>
						</span>
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
								<path fill="#FDD835" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5" d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"/>
							</svg>
						</span>
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
								<path fill="#FDD835" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5" d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"/>
							</svg>
						</span>
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
								<path fill="#FDD835" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5" d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"/>
							</svg>
						</span>
					</div>
				</div>
				<div class="review-comment__content">{{item.Text}}</div>
				<div class="review-comment__labels"></div>
				<hr>
			</div>
			<!-- <div class="customer-reviews__pagination">
				<ul class="Navigation__Wrapper-dgcpmq-0 kiFxlu">
					<li>
						<a class="btn active">1</a>
					</li>
					<li>
						<a class="btn ">2</a>
					</li>
					<li>
						<a class="btn ">3</a>
					</li>
					<li>
						<a class="btn ">4</a>
					</li>
					<li>
						<a class="btn ">5</a>
					</li>
					<li>
						<a class="btn next">
							<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 256 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
								<path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/>
							</svg>
						</a>
					</li>
				</ul>
			</div> -->
		</div>
	</div>
</div>
